@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: Montserrat !important;
  height: 100%;
}
 
.container {
  display: flex;
}

.container h2 {
  font-weight: 600;
  margin: 20px 0px;
}

.input-container-title {
  font-weight: bolder;
  margin-bottom: 45px;
}

.center-text {
  text-align: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.box .content {
  width: 900px;
}

.input-container {
  margin: 50px 20px 0px 20px !important;
  border: 1px solid black;
  min-height: 300px;
  padding: 40px !important;
}

.form-control {
  border-radius: 0px !important;
}